.filtros-tarifas {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtros-tarifas__titulo {
	margin-top: 0;
	margin-bottom: 15px;
	color: #333;
	font-size: 1.1rem;
}

.filtros-tarifas__grupo {
	display: flex;
	margin-bottom: 15px;
	gap: 10px;
	align-items: center;
}

.filtros-tarifas__label {
	/* display: block; */
	margin-bottom: 5px;
	font-weight: 600;
	color: #555;
}

.filtros-tarifas__select,
.filtros-tarifas__input {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
}

.filtros-tarifas__rango {
	display: flex;
	align-items: center;
	gap: 10px;
}

.filtros-tarifas__separador {
	color: #666;
}

.filtros-tarifas__boton-container {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 8px;
}

.filtros-tarifas__boton {
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
	display: flex;
	justify-items: end;
	align-items: center;
}

.filtros-tarifas__boton:hover {
	background-color: #0056b3;
}

.filtros-tarifas__boton--limpiar {
	background-color: #6c757d;
}

.filtros-tarifas__boton--limpiar:hover {
	background-color: #5a6268;
}

/* Responsive */
@media (max-width: 768px) {
	.filtros-tarifas__grupo {
		display: block;
	}

	.filtros-tarifas__select {
		margin-bottom: 10px;
		margin-inline: 5px;
	}

	.filtros-tarifas__rango {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.filtros-tarifas__separador {
		display: none;
	}
}

@media (max-width: 1440px){
	.filtros-tarifas__input{
		margin-inline: 8px;
	}
}