.registrarVehiculo {
    padding: 30px;
}

.registrarVehiculo__title {
    text-align: center;
    color: #143a59;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 24px;
}

.registrarVehiculo__form {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.registrarVehiculo__form-left,
.registrarVehiculo__form-right {
    flex: 1;
    min-width: 300px;
}

.registrarVehiculo__form-left fieldset {
    border: none;
    margin-top: 50px;
    margin-left: 30px;
}

.registrarVehiculo__input-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    position: relative;
}

.registrarVehiculo__form-right .registrarVehiculo__input-group {
    gap: 60px;
}

.registrarVehiculo label {
    margin: 0;
    flex: 0 0 170px;
}

.registrarVehiculo__required {
    color: red;
}

.registrarVehiculo input,
.registrarVehiculo select {
    flex: 1;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 32px;
}

.registrarVehiculo__upload-box {
    background-color: #f5f5f5;
    padding: 65px 0;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 4px;
    border: 1px dashed #ccc;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.registrarVehiculo__upload-box button {
    background: none;
    color: #143a59;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.registrarVehiculo__photo-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.registrarVehiculo__actions {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.registrarVehiculo__cancel-button,
.registrarVehiculo__submit-button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 210px;
}

.registrarVehiculo__cancel-button {
    background-color: #2c4561;
    color: white;
}

.registrarVehiculo__submit-button {
    background-color: #c44040;
    color: white;
}

.registrarVehiculo__input-group .vehicle__error-message {
    position: absolute;
    left: 150px;
    margin-top: 58px;
    color: red;
    font-size: 12px;
}

.registrarVehiculo__form-right .vehicle__error-message {
    position: absolute;
    left: 212px;
    margin-top: 188px;
    color: red;
    font-size: 12px;
}

/* Parte responsive */
@media (max-width: 768px) {
    .registrarVehiculo__form {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .registrarVehiculo__form-left fieldset {
        margin-left: 0;
    }

    .registrarVehiculo__actions {
        flex-direction: column;
        gap: 20px;
    }

    .registrarVehiculo__cancel-button,
    .registrarVehiculo__submit-button {
        width: 100%;
    }

    .registrarVehiculo__upload-box,
    .registrarVehiculo__photo-preview {
        width: 120px;
        height: 120px;
    }

    .registrarVehiculo__input-group .vehicle__error-message {
        left: 270px;
        margin-top: 58px;
        color: red;
        font-size: 12px;
    }
}